name: biome lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@v2
      - name: Checkout your repository using git
        uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"
          node-version: 22
      - name: Install dependencies
        run: pnpm install
      - name: run biome format check
        run: pnpm lint
